{% extends "layouta.html" %} 
 
{% block title %} 
    Portfolio 
{% endblock %} 
 
{% block main %} 
    <h1 id="comicsanso"> 
        Portfolio 
    </h1> 
    <br> 
    <table class="table table-bordered" id="comicsanst"> 
            <tr> 
                <th colspan="3" id="special">{{ rows[0]["Name"] }}</th> 
                <th>Unit</th> 
                <td>{{ rows[0]["Unit"] }}</td> 
            </tr> 
            <tr> 
                <th>Family</th> 
                <td colspan="2">{{ rows[0]["FamilyName"] }}</td> 
                <th>Regn. No.</th> 
                <td>{{ rows[0]["RegnNo"] }}</td> 
            </tr> 
            <tr> 
                <th colspan="3">Mumbai Address</th> 
                <th colspan="2">Kerala Address</th> 
            </tr> 
            <tr> 
                <td colspan="3">{{ rows[0]["MumbaiAddress"] }}</td> 
                <td colspan="2">{{ rows[0]["KeralaAddress"] }}</td> 
            </tr> 
            <tr> 
                <th colspan="3">Native Diocese</th> 
                <th colspan="2">Native Parish</th> 
            </tr> 
            <tr> 
                <td colspan="3" rowspan="6">{{ rows[0]["NativeDiocese"] }}</td> 
                <td colspan="2" rowspan="6">{{ rows[0]["NativeParish"] }}</td> 
            </tr> 
    </table> 
    <br> 
    <p> 
        <button class="btn btn-outline-success" type="button" data-toggle="collapse" datatarget="#cllp" aria-expanded="false" aria-controls="collapseExample"> 
            Family Members 
        </button> 
    </p> 
    <div class="collapse" id="cllp"> 
        <div class="table-responsive" id="comicsansh"> 
            <table class="table table-striped"> 
                <thead class="thead-dark"> 
                    <tr> 
                        <th>Member ID</th> 
                        <th>Name</th> 
                        <th>Date of Birth</th> 
                        <th>Relation</th> 
                        <th>Wedding Anniversary</th> 
                        <th>Blood Group</th> 
                        <th>Contact No</th> 
                        <th>Occupation</th> 
                        <th>Actions</th> 
                    </tr> 
                </thead> 
                <tbody> 
                    {% for row in rows %} 
                        <tr> 
                            <td>{{ row["MemberID"] }}</td> 
                            <td>{{ row["Name"] }}</td> 
                            <td>{{ row["DateofBirth"] }}</td> 
                            <td>{{ row["Relation"] }}</td> 
                            <td>{{ row["WeddingAnniversary"] }}</td> 
                            <td>{{ row["BloodGroup"] }}</td> 
                            <td>{{ row["ContactNo"] }}</td> 
                            <td>{{ row["Occupation"] }}</td> 
                            <td> 
                                {% if row['Activity'] == 'active' %} 
                                    <a href="/deactivate/{{ row['MemberID'] }}/{{ row['RegnNo'] }}/{{ row['FamilyName'] }}/{{ row['NativeDiocese'] }}/{{ row['NativeParish'] }}/{{ row['Unit'] }}/{{ row['MumbaiAddress'] }}/{{ row['KeralaAddress'] }}/{{ row['Password'] }}" role="button" class="btn btn-secondary">Deactivate</a> 
                                {% else %} 
                                    <button class="btn btn-outline-success" type="button" data-toggle="collapse" data-target="#cmmt" aria-expanded="false" aria-controls="collapseExample"> 
                                        Comment 
                                    </button> 
                                    <div class="collapse" id="cmmt" colspan="3"> 
                                        <ul class="list-group list-group-horizontal-md"> 
                                            <li class="list-group-item list-group-item-primary">Comment</li> 
                                            <li class="list-group-item list-group-item-primary">{{ row["Comment"] }}</li> 
                                            <li class="list-group-item"> 
                                                <a href="/activate/{{ row['MemberID'] }}/{{ row['RegnNo'] }}/{{ row['FamilyName'] }}/{{ row['NativeDiocese'] }}/{{ row['NativeParish'] }}/{{ row['Unit'] }}/{{ row['MumbaiAddress'] }}/{{ row['KeralaAddress'] }}/{{ row['Password'] }}" role="button" class="btn btn-secondary">Reactivate</a> 
                                            </li> 
                                        </ul> 
                                    </div> 
                                {% endif %} 
                            </td> 
                        </tr> 
                    {% endfor %} 
                </tbody> 
            </table> 
        </div> 
    </div> 
    <div class="btn-group" role="group" aria-label="Actions:"> 
        <a href="/add/{{ rows[0]['RegnNo'] }}/{{ rows[0]['FamilyName'] }}/{{ rows[0]['NativeDiocese'] }}/{{ rows[0]['NativeParish'] }}/{{ rows[0]['Unit'] }}/{{ rows[0]['MumbaiAddress'] }}/{{ rows[0]['KeralaAddress'] }}/{{ rows[0]['Password'] }}" role="button" class="btn btn-secondary">Add</a> 
        <a href="/reset/{{ rows[0]['RegnNo'] }}" role="button" class="btn btn-secondary">Reset Password</a> 
        <a href="/edit/{{ rows[0]['RegnNo'] }}/{{ rows[0]['FamilyName'] }}/{{ rows[0]['NativeDiocese'] }}/{{ rows[0]['NativeParish'] }}/{{ rows[0]['Unit'] }}/{{ rows[0]['MumbaiAddress'] }}/{{ rows[0]['KeralaAddress'] }}/{{ rows[0]['Password'] }}" role="button" class="btn btn-secondary">Edit</a> 
    </div> 
{% endblock %} 
